.application-item {
  background-color: $white;
  box-shadow: 0 2px 3px 0 #e8ebed, 0 0 3px 0 #e8ebed;
  padding: 1.5rem;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: rgba(244, 247, 246, 0.3);
  }

  .box-info {
    &--content {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1.5rem;

      @media (max-width: $mobile) {
        flex-direction: column;
      }
    }

    &--footer {
      display: flex;

      li {
        align-items: baseline;
        display: inline-flex;
        margin-bottom: 0;
        padding: 0 1rem 0 0;

        span {
          color: $gray-dark;
        }
      }
    }

    .description {
      @media (max-width: $mobile) {
        margin-top: 1rem;
        order: 2;
      }
    }

    .tags {
      color: $teal;
      text-align: right;

      @media (max-width: $mobile) {
        order: 1;
      }

      span {
        & + span {
          &::before {
            content: '/';
          }
        }
      }
    }
  }
}
